.containervari {
    color: lightgreen;
}

.vihrea {
    background-color: cadetblue;
}

.link-vari {
    color: white !important
}

.link-hover:hover {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.masthead {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(/kuvat/Pielalinja-oy.png) !important;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.testi {
    color: red;
}


.text-keski {
    text-align: center;
}

.padding-top {
    padding-top: 20px;

}





.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}



.koko-100 {
    width: 100%;
    height: 100%;
}

.frameborder {
    style="border:0;"
}








.shadow {
    border: 15px solid !important;
    border-color: cadetblue !important;

}

.img-fluid-1 {
    max-width: 100%;
    height: auto;
}

.hover:hover {
    border-color: lightgreen !important;

}







.no-underline:hover {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif !important;

}

.fontti-testi {
    font-size: 25px !important;
}

.header-fontti-1 {
    font-size: 35px;
}

.fontti-h6-1 {
    font-size: 25px
}

p {
    font-family: 'Roboto', sans-serif !important;
}

.sahko {
    font-size: 24px;
}

.puh {
    font-size: 24px;
}

.koko-h6 {
    font-size: 24px;
}
body{
    
}
.tietoja-body {
   
        
}
