
.containervari {
    color: lightgreen;
}

.vihrea {
    background-color: cadetblue;
}

.link-vari {
    color: white !important
}

.link-hover:hover {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.masthead {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(/kuvat/Pielalinja-oy.png) !important;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.testi {
    color: red;
}


.text-keski {
    text-align: center;
}

.padding-top {
    padding-top: 20px;
    
}





.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}



.koko-100 {
    width: 100%;
    height: 100%;
}

.frameborder {
    style="border:0;"
}

.header-fontti {
    font-family: 'El Messiri', sans-serif !important;
    
}






.shadow {
    border: 15px solid !important;
    border-color: cadetblue !important;
    
}

.img-fluid-1 {
 max-width: 100%;
  height: auto;
}

.hover:hover {
    border-color: lightgreen !important;
    
}

.fontti-h6 {
    font-family: 'Cinzel', serif !important;
}

.fontti-testi {
   font-family: 'Kalam', cursive !important;
    font-size: 30px !important;
}

.header-fontti-1 {
    font-family: 'El Messiri', sans-serif !important;
    font-size: 30px !important;
}

.fontti-h6-1 {
    font-family: 'Cinzel', serif !important;
    font-size: 35px !important;
}
